@page
@using Microsoft.Extensions.Configuration
@using ObsWebsocketDashboard
@model ObsWebsocketDashboard.IndexModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OBS Remote Control</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="~/site.css" rel="stylesheet"/>
</head>
<body>
    
<div id="container" class="container-fluid" data-clientId="@User.Identity.Name"></div>
    
@if (!User.Identity.IsAuthenticated)
{
    <form method="get" action="/">
        <p>
            Enter Client ID:
            <input type="text" name="access_token"/>
        </p>
        <p>
            <input type="submit" value="Sign In"/>
        </p>
    </form>
}
else
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.3/signalr.min.js"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="~/dist/main.js"></script>
}
</body>
</html>

@{
}
