@page
@using Microsoft.Extensions.Configuration
@using ObsWebsocketDashboard
@model ObsWebsocketDashboard.IndexModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OBS Remote Control</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="~/site.css" rel="stylesheet"/>
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/lib/react/umd/react.development.js"></script>
    <script src="~/lib/react-dom/umd/react-dom.development.js"></script>
    <script src="~/app.js"></script>
</head>
<body>
    
<div id="container" class="container"></div>

<script type="text/javascript">
    const app = new App(signalR, "@(Startup.Configuration.GetSection("App").GetValue<string>("ClientId"))");
    app.run();
</script>

</body>
</html>

@{
}
