@font-face {
    font-family: 'prometo';
    font-display: block;
    src: url('Fonts/prometo.otf') format('opentype');
}

@font-face {
    font-family: 'prometo-bold';
    font-display: block;
    src: url('Fonts/prometo-bold.otf') format('opentype');
}

body {
    background-color: transparent;
    position: relative;
    width: 1920px;
    height: 1080px;
    box-sizing: border-box;
}

.speaker-name {
    overflow: hidden;
    position: absolute;
    left: 100px;
    top: 850px;
}
    .speaker-name.offscreen {
        top: -10000px;
    }
    .speaker-name > .content {
        background-color: #2b2c2a;
        border-top: solid 15px #f0b512;
        padding: 25px 40px;
        color: #f0b512;
        font-family: prometo,sans-serif;
        font-size: 36px;
    }

.notification {
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    left: 960px;
}
    .notification.offscreen {
        bottom: 0px;
        left: 0px;
        width: 1920px;
    }
    .notification > .content {
        background-color: #2b2c2a;
        border-top: solid 15px #f0b512;
        padding: 25px 40px;
        color: #f0b512;
        font-family: prometo,sans-serif;
        font-size: 36px;
        text-align: center;
    }
